[Desktop Entry]
Version=1.0
Type=Application
Exec=qubes-vm-settings %VMNAME%
Icon=qubes-appmenu-select
Terminal=false
Name=%VMNAME%: VM Settings
GenericName=%VMNAME%: VM Settings
StartupNotify=false
Categories=System;X-Qubes-VM;
